<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
<menu>
<add id="Mastering_SampleModule::mastering" title="Mastering"  module ="Mastering_SampleModule" resource="Mastering_SampleModule::mastering" translate="title" sortOrder="10" action="mastering/Index/Index"/>
<!--<add id="Mastering_SampleModule::all_items" title="All Items" translate="title" module="Mastering_SampleModule" sortOrder="10" resource="Mastering_SampleModule::all_items" parent="Mastering_SampleModule::mastering" action="mastering/Item/Index"/>
-->
</menu>
</config>